/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

/* Because... Fun */
::selection { background: #E32F21; color: #E4DED0; }

/* Text & Image Styles */
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'UniviaProUltraLight', Helvetica, Arial, Sans-Serif;
  color: #222;
  background: #FFF;
}

a {
  color: #E32F21;
}

header {
  background-color: #ABCCBD;
  color: #181619;
}
body {
  background-color: #ABCCBD;
  color: #181619;
}
.project-box img {
  max-width: 300px;
}

.current a{
 color: #E32F21;
 text-decoration: underline;
}

ul.nav {
  list-style-type: none;
  padding: 0px;
}
ul.nav a{
  display: block;
  text-transform: uppercase;
}

header ul li {
  background-color: #7DBEB8;
  font-family: 'UniviaProRegular', Helvetica, Arial, Sans-Serif;
  display: block;
  padding: 15px 0;
  margin: 10px auto;
  max-width: 90%;
  border-radius: 100px;
}
header ul li a{
  color: #E4DED0;
  text-decoration: none;
}
header ul li:hover {
  background-color: #E4DED0;
}
header ul li a:hover{
  color: #7DBEB8;
  text-decoration: underline;
}

.main-title {
  font-size: 2rem;
}

header p {
  max-width: 90%;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 auto;
  padding: 25px 0 35px 0;
  font-family: 'UniviaProThin', Helvetica, Arial, Sans-Serif;
}

.profile-image {
  max-width: 200px;
  margin-top: 30px;
  border-radius: 5px;
}


/* Layout Settings */
.row {
  padding: 10px;
  background-color: #E4DED0;
  margin: 0 auto;
}

.row h2 {
  margin-top: 30px;
}

.project-box {
  display: inline-block;
  padding: 15px 0px;
}

.project-box img{
  margin: 0 auto;
}
.project-box h3{
  margin-top: 1em;
  margin-bottom: .5em;
  font-family: 'UniviaProRegular', Helvetica, Arial, Sans-Serif;
}

.project-box p {
  font-size: 1rem;
  font-family: 'UniviaProUltraLight', Helvetica, Arial, Sans-Serif;
  line-height: 1.5rem;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

footer {
 border-top: 1px solid #E4DED0;
 max-width: 90%;
 margin: 60px auto 0 auto;
}
.footer-name {
  float: left;
  color: #222222;
  margin-top: 20px;
  padding-left: 10px;
}
.footer-link {
  float: right;
  color: #222222;
  text-decoration: underline;
  margin-top: 20px;
  text-transform: uppercase;
  padding-right: 10px;
}
.footer-link:hover {
  float: right;
  color: #E5756F;
  margin-top: 20px;
  padding-right: 10px;
}

.contact-title {
  text-transform: uppercase;
}
.contact-info {
  margin: 0 auto;
  text-align: center;
  max-width: 90%;
}
.contact-info p{
  line-height: 1.5em;
}

.contact-info span a{
  font-family: 'UniviaProRegular', Helvetica, Arial, Sans-Serif;
}

/* Styles for tablet screens */
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    margin-top: 0;
  }
  .main-title {
    margin-top: 45px;
  }
  header ul li {
    background-color: #ABCCBD;
    margin: 15px;
  }
  header ul li a{
    color: #181619;
    text-decoration: none;
  }
  header ul li:hover {
    background-color: #ABCCBD;
  }
  header ul li a:hover{
    color: #E4DED0;
    text-decoration: underline;
  }
  nav {
    margin: 0 auto;
    display: inline-block;
  }
 .header-info {
    display: inline-block;
  }
 .header-info p {
    padding: 0;
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.8rem;
  }
  .profile-image {
    float: right;
    margin-right: 20px;
    max-width: 280px;
    margin-bottom: 10%;
    margin-top: 0px;
  }
  div.row {
    display: inline-block;
    width: 100%
  }
  .project-box {
    width: 48%;
    margin: 10px 5px;
  }
  .project-box img{
    max-width: 345px;
  }
  .contact-info {
    max-width: 65%;
  }

}

/* Styles for desktop screens */
@media screen and (min-width: 1024px) {
  .nav {
    display: flex;
    margin-top: 0;
  }
  .main-title {
    margin-top: 20px;
    float: left;
  }
  header {
    padding: 25px 35px 0 35px;
    background-color: #ABCCBD;
    color: #181619;
  }
  header ul li {
    background-color: #ABCCBD;
    margin: 15px;
  }
  header ul li a{
    color: #181619;
    font-family: 'UniviaProRegular', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
  }
  nav {
    margin: 0 auto;
    display: inline-block;
    float: right;
  }
 .header-info {
    display: inline-block;
  }
 .header-info p {
    padding: 0;
    margin-left: 0;
    text-align: left;
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: 'UniviaProThin', Helvetica, Arial, Sans-Serif;
  }
  .profile-image {
    float: right;
    padding: 0;
    margin-right: 0;
    max-width: 370px;
    margin-bottom: 5%;
    margin-top: 0;
  }
  div.row {
    display: inline-block;
    width: 100%
  }
  .project-box {
    width: 30%;
    margin: 10px 5px;
  }
  .project-box img{
    max-width: 290px;
  }
  .contact-info {
    max-width: 45%;
  }

}
